<h2 class="block-center">{{title}}</h2>
<nav>
  <a class="btn btn-info" routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a class="btn btn-info" routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a class="btn btn-info" [routerLink]="[ { outlets: { popup: ['compose'] } } ]">Contact</a>
  <a class="btn btn-info" routerLink="/login" routerLinkActive="active">Login</a>
  <a class="btn btn-info" (click)="logout()">logout - logged in? = {{loggedIn}}</a>
  <a class="btn btn-danger" routerLink="/admin-dashboard" routerLinkActive="active">Admin</a>
  <a class="btn btn-danger" routerLink="/is-not-a-page">404?</a>
</nav>
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
